<h1><%= @meetup.name %></h1>

<p><%= @meetup.location %></p>

<% if signed_in? && !current_user.meetups.include?(@meetup) %>
<form action="/meetups/<%= @meetup.id %>/memberships" method="post">
  <input type="submit" value="Join this Meetup">
</form>
<%end %>

<p><%= @meetup.description %></p>


<h2>Members</h2>
<% if signed_in? && current_user.meetups.include?(@meetup) %>
  <% if @members.any? %>
  <% @members.each do |user|%>
  <div class ="members">
  <h3><img src="<%= user.avatar_url %>"> <%= user.username %></h3></div>
  <% end %>
  <% else %>
  <p>There are no members yet.</p>
  <% end %>
<% end %>


<% if signed_in? && current_user.meetups.include?(@meetup) %>
<form action="/memberships/<%= @membership.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Leave this Meetup">
</form>
<% end %>
